
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<head>
    <link href="~/content/bootstrap.min.css" rel="stylesheet">
</head>
<br/> <br/>
<fieldset style="width:80%;height:400px">
    <legend><b>CHANGE PASSWORD</b></legend>  
    <form method="post">
        <table width="60%" height="250px" cellpadding="0" cellspacing="0" style="background-color:rgba(0,0,0,0.5);text-align:center;border-style:inset">
            <tr>
                <td><font size="3" color="white">Current Password</font></td>
				<td>:</td>
                <td><input type="password" name="CurrentPassword"/></td>
                <td></td>
            </tr>
            <tr>
                <td><font size="3" color="white">New Password</font></td>
				<td>:</td>
                <td><input type="password" name="NewPassword"/></td>
                <td></td>
            </tr>
            <tr>
                <td><font size="3" color="white">Retype New Password</font></td>
				<td>:</td>
                <td><input type="password" name="ConfirmPassword"/></td>
                <td></td>
            </tr>
        </table>
        <hr />
        <input type="submit" value="Submit" style="width:100px;color:orangered" />
    </form>
    @Html.ValidationSummary()
</fieldset>

