@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<br/> <br/>
<fieldset>
    <legend><b>TRACK ORDER</b></legend> 
    <br/>
<table width="60%" cellpadding="10px" style="border-collapse: collapse;">

    <tr>
        <th>Reference NO</th>
        <th>Total item</th>
        <th>Order State</th>
    </tr>

    <tr style="background-color:#F9B384;text-align:center;">
        <td>
            10012
        </td>
        <td>
            3
        </td>
        <td>
            Pending
        </td>
    </tr>
</table>
