@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<fieldset>
    <legend><b>FORGOT PASSWORD</b></legend>
    <form method="post">
		Enter Email:
        <input type="text" name="Email" value="@ViewBag.Password"/>
        <hr />
        <input type="submit" value="Submit" />
    </form>
    @Html.ValidationSummary()
</fieldset>