
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:orange">
    </body>
<br/> <br/>
<fieldset style="width:80%;height:400px">
    <legend><b>PROFILE</b></legend>
	<form>
		<br/>
		<table cellpadding="0" cellspacing="0" height="150px" width="250px" style="background-color:rgba(0,0,0,0.5);color:white;text-align:center;border-style:inset;">
			<tr>
				<td>Name</td>
				<td>:</td>
				<td>@Model.Name</td>
			</tr>		
			<tr>
				<td>Email</td>
				<td>:</td>
				<td>@Model.Email</td>
			</tr>
		</table>	
        <hr>
        <br>
        <a href='@Url.Action("EditAccount", "Restaurant")' style="color:red">
            Edit Profile
        </a>

	</form>
