@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
<body style="background-color:orange">
    </body>
<fieldset>
    <legend><b>CHANGE PASSWORD</b></legend>
    <form method="post">
        <table height="250px" width="500px" style="background-color:rgba(0,0,0,0.5);color:white;text-align:center;border-style:inset">
            <tr>
                <td><font size="3" color="white">Current Password</font></td>
				<td>:</td>
                <td><input type="password" name="CurrentPassword" style="color:black"/></td>
                <td></td>
            </tr>
            <tr>
                <td><font size="3" color="white">New Password</font></td>
				<td>:</td>
                <td><input type="password" name="NewPassword" style="color:black"/></td>
                <td></td>
            </tr>
            <tr>
                <td><font size="3" color="white">Retype New Password</font></td>
				<td>:</td>
                <td><input type="password" name="ConfirmPassword" style="color:black"/></td>
                <td></td>
            </tr>
        </table>
        <hr />
        <input type="submit" value="Submit" style="color:orangered;width:100px"/>
    </form>
    @Html.ValidationSummary()
</fieldset>

